@keyframes pointer {
  0%, 100% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(5px);
    opacity: 1;
  }
}

@keyframes loadImage {
  from { transform: scale(1.05); opacity: 0.3; }
  to   { transform: scale(1); opacity: 1; }
}

@keyframes slideInRight {
  0% { transform: translateX(50px) scale(0.375); opacity: 0; }
  100%   { transform: translateX(0) scale(0.375); opacity: 1; }
}

// .router-enter-active {
//   transition: opacity 0.3s ease;
// }
//
// .router-enter,
// .router-leave-active {
//   opacity: 0;
// }
//
// .router-enter {
//   .project,
//   .icon-links li {
//     opacity: 0;
//     transform: translateY(50px);
//   }
// }

.v-lazy-image {
  filter: blur(10px);
  transform: scale(1.05);
  transition: all 0.3s ease;
  will-change: transform, filter;
}

.v-lazy-image-loaded {
  filter: blur(0);
  transform: scale(1);
}

.router-enter-active,
.router-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.router-enter-active {
  transition-delay: .25s;
}

.router-enter,
.router-leave-active {
  opacity: 0
}


.popup-enter-active,
.popup-enter-active .container {
  transition: all 0.3s ease-out;
}

// .popup-enter-active .mask {
//   transition: all 0.15s ease-out;
// }

.popup-leave-active,
.popup-leave-active .container {
  transition: all 0.15s ease-in;
}

.popup-enter,
.popup-leave-to {
  .container {
    opacity: 0;
    transform: scale(1.02);
  }
}

// .popup-enter .mask {
//   opacity: 0;
// }

.popup-leave-to {
  opacity: 0;
}
