@import 'mixins';

#app {
  will-change: padding;
  transition: all 0.3s ease;
}

html,
body {
  height: 100%;
}

body {
  background: #000 url('./../../assets/images/global/nebula.png') center 300px no-repeat;
  color: #fff;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
}

main {
  padding: 0 30px;
}

.logo {
  will-change: opacity;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.6;
    transition: opacity 0.15s ease;
  }

  &:active {
    opacity: 1;
    transition: none;
  }
}

.project,
.icon-links li {
  // transition: opacity 0.5s ease, transform 0.5s ease;
  // will-change: opacity, transform;
  // @include delay(12, 0.1s, 0);
}

.disciplines {
  li {
    margin: 15px 0;
    transition: transform 0.2s ease;
    will-change: transform;

    &:after {
      content: attr(data-indicate);
      display: inline-block;
      color: #fff;
      position: absolute;
      will-change: opacity;
      transition: opacity 0.3s ease;
      opacity: 0;
      font-size: 14px;
      font-size: 1.4rem;
    }
  }
}

.icon,
.icon-links li a:before {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.icon {
  color: #fff;
  text-indent: -99999px;
  overflow: hidden;
  background: $grey;
  position: relative;

  &.full-size {
    &:hover {
      &:before {
        transform: scale(10);
      }

      &:after {
        opacity: 1;
      }
    }
  }

  &.scaled {
    transform: scale(0.375);
    transition: transform 0.2s ease;
    will-change: transform;

    &:before {
      opacity: 0;
    }
  }

  &:before,
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:before {
    transition: all 0.2s ease;
    will-change: opacity, transform;
  }

  &:after {
    transition: opacity 0.2s ease;
    opacity: 0;
    will-change: opacity;
  }

  &:active {
    &:after {
      transform: scale(0.9);
    }
  }

  &.close {
    &:before {
      background: url('./../../assets/images/global/icons/close-light.svg') 50% 50% no-repeat;
      background-size: 50% 50%;
    }

    &:after {
      background: url('./../../assets/images/global/icons/close-dark.svg') 50% 50% no-repeat;
      background-size: 50% 50%;
    }
  }

  &.info {
    &:before {
      background: url('./../../assets/images/global/icons/info-light.svg') 50% 50% no-repeat;
      background-size: 50% 50%;
    }

    &:after {
      background: url('./../../assets/images/global/icons/info-dark.svg') 50% 50% no-repeat;
      background-size: 50% 50%;
    }
  }

  &.cookie {
    &:before {
      background: url('./../../assets/images/global/icons/cookie-light.svg') 50% 50% no-repeat;
      background-size: 50% 50%;
    }

    &:after {
      background: url('./../../assets/images/global/icons/cookie-dark.svg') 50% 50% no-repeat;
      background-size: 50% 50%;
    }
  }

  &.development {
    color: $yellow;
    background: $yellow;

    &:before {
      background: url('./../../assets/images/global/icons/development-light.svg') 50% 50% no-repeat;
      background-size: 50% 50%;
    }

    &:after {
      background: url('./../../assets/images/global/icons/development-colour.svg') 50% 50% no-repeat;
      background-size: 50% 50%;
    }
  }

  &.design {
    color: $green;
    background: $green;

    &:before {
      background: url('./../../assets/images/global/icons/design-light.svg') 50% 50% no-repeat;
      background-size: 50% 50%;
    }

    &:after {
      background: url('./../../assets/images/global/icons/design-colour.svg') 50% 50% no-repeat;
      background-size: 50% 50%;
    }
  }

  &.branding {
    color: $blue;
    background: $blue;

    &:before {
      background: url('./../../assets/images/global/icons/branding-light.svg') 50% 50% no-repeat;
      background-size: 50% 50%;
    }

    &:after {
      background: url('./../../assets/images/global/icons/branding-colour.svg') 50% 50% no-repeat;
      background-size: 50% 50%;
    }
  }

  &.video {
    color: $red;
    background: $red;

    &:before {
      background: url('./../../assets/images/global/icons/video-circle-light.svg') 50% 50% no-repeat;
      background-size: 50% 50%;
    }

    &:after {
      background: url('./../../assets/images/global/icons/video-circle-colour.svg') 50% 50% no-repeat;
      background-size: 50% 50%;
    }
  }

  &.cv,
  &.contact {
    color: $grey;
  }

  &.cv {
    &:before {
      background: url('./../../assets/images/global/icons/cv-light.svg') 50% 50% no-repeat;
      background-size: 50% 50%;
    }

    &:after {
      background: url('./../../assets/images/global/icons/cv-dark.svg') 50% 50% no-repeat;
      background-size: 50% 50%;
    }
  }

  &.contact {
    &:before {
      background: url('./../../assets/images/global/icons/info-light.svg') 50% 50% no-repeat;
      background-size: 50% 50%;
    }

    &:after {
      background: url('./../../assets/images/global/icons/info-dark.svg') 50% 50% no-repeat;
      background-size: 50% 50%;
    }
  }
}

@media screen and (pointer: coarse) {
  .icon.scaled {
    transform: scale(1);

    &:before {
      opacity: 1;
    }
  }
}

.icon-links li {
  a {
    position: relative;
    padding-left: 55px;
    line-height: 40px;
    margin-bottom: 15px;
    color: #fff;

    &:before {
      content: '';
      background: $grey;
      position: absolute;
      left: 0;
    }
  }

  &.email a {
    &:before {
      background: $grey url('./../../assets/images/global/icons/contact-light.svg') 50% 50% no-repeat;
      background-size: 50% 50%;
    }
  }

  &.linkedin a {
    &:before {
      background: $grey url('./../../assets/images/global/icons/linkedin-light.svg') 50% 50% no-repeat;
      background-size: 50% 50%;
    }
  }

  &.github a {
    &:before {
      background: $grey url('./../../assets/images/global/icons/github-light.svg') 50% 50% no-repeat;
      background-size: 50% 50%;
    }
  }
}

.overlay {
  color: #fff;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 900px) {
  main {
    padding: 0 20px;
  }
}

@media screen and (max-width: 770px) {
  body {
    background: #000;
  }
}

@media screen and (max-width: 450px) {
  main {
    padding: 0;
  }
}
