@import 'animations';

// page-foot .cookie-law .cookie-law-wrapper {
//   font-family: inherit;
//
//   .copy {
//     padding: 10px 60px 10px 10px;
//     font-size: 14px;
//     font-size: 1.4rem;
//
//     .dismiss {
//       top: 50%;
//       transform: translateY(-50%);
//       right: 0;
//
//       svg {
//         width: 20px;
//         height: 20px;
//       }
//     }
//   }
// }
//
// .root {
//   position: absolute;
//   overflow: hidden;
//   clip: rect(0 0 0 0);
//   height: 1px; width: 1px;
//   margin: -1px; padding: 0; border: 0;
// }

html,
body {
  height: 100%;
}

body {
  background: #000 url('./../../assets/images/global/nebula.png') center 200px no-repeat;
  color: #fff;
}

.wrapper {
  // background: $light-grey;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  // padding: 0 15px;
}

main {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal {
  .mask {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 30px;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;

    .container {
      position: relative;
      will-change: opacity, transform;

      .info {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 30px;
        background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.6) 100%);

        h2 {
          margin-top: 30px;
        }

        p {
          margin-bottom: 0;
        }
      }

      .close {
        position: absolute;
        top: 30px;
        right: 30px;
        color: #fff;
        background: rgba(0, 0, 0, 0.6);
        // text-indent: -99999px;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        box-shadow: 0px 0px 5px 1px #fff;

        &:after {
          content: "\D7";
          position: absolute;
          font-size: 4rem;
          width: 100%;
          height: 100%;
          line-height: 34px;
          text-align: center;
        }
      }
    }
  }
}

.popup-enter-active,
.popup-enter-active .container {
  transition: all 0.3s ease-out;
}

// .popup-enter-active .mask {
//   transition: all 0.15s ease-out;
// }

.popup-leave-active,
.popup-leave-active .container {
  transition: all 0.15s ease-in;
}

.popup-enter,
.popup-leave-to {
  .container {
    opacity: 0;
    transform: scale(1.02);
  }
}

// .popup-enter .mask {
//   opacity: 0;
// }

.popup-leave-to {
  opacity: 0;
}



// header {
//   margin-bottom: 15px;
//
//   h1,
//   .intro {
//     margin-left: 15px;
//     margin-right: 15px;
//   }
//
//   h1 {
//     width: calc(50% - 30px);
//   }
// }
//
// .route-holder {
//   position: relative;
//   overflow: hidden;
//   height: 100%;
//   clear: both;
// }
//
// .content {
//   min-height: 1000px;
// }
//
// .intro,
// .sub-section {
//   padding-right: 60px;
// }
//
// .intro {
//   width: calc(50% - 15px);
//
//   p {
//     // margin-bottom: 10px;
//
//     &:last-of-type {
//       margin: 0;
//     }
//   }
// }
//
// .wide {
//   height: 100%;
// }
//
// aside {
//   font-size: 2.4rem;
//   color: $dark-blue;
//   font-weight: 700;
//   margin: 30px 0;
//   position: relative;
//
//   .pullquote {
//     &:before {
//       content: '\201c';
//       color: $orange;
//       font-size: 20rem;
//       line-height: 1;
//       margin-bottom: -50px;
//       display: block;
//     }
//
//     p {
//       margin-bottom: 30px;
//
//       &:last-of-type {
//         margin: 0;
//       }
//     }
//   }
// }
//
// .block {
//   width: calc(50% - 30px);
//   float: left;
//   margin: 15px;
//
//   .reveal {
//     margin-bottom: 30px;
//   }
// }
//
// .reveal {
//   // visibility: hidden;
//   overflow: hidden;
// }
//
// .lazy {
//   // position: absolute;
//   // top: 0;
//   left: 0;
//   filter: blur(2vw);
//   transform: scale(1.1);
//   will-change: transform, opacity;
//
//   &.ng-lazyloaded {
//     filter: none;
//     animation: loadImage 1s ease-out;
//     transform: scale(1);
//   }
// }
//
// @media screen and (max-width: 950px) {
//
//   .intro,
//   .sub-section {
//     padding-right: 0;
//   }
//
//   aside {
//     font-size: 2rem;
//
//     .pullquote:before {
//       font-size: 10rem;
//       margin-bottom: -30px;
//     }
//   }
//
// }
//
// @media screen and (max-width: 900px) {
//
//   // main {
//   //   padding: 0 10px;
//   // }
//
//   header {
//     h1,
//     .intro {
//       margin-left: 10px;
//       margin-right: 10px;
//     }
//   }
//
//   .intro {
//     width: calc(75% - 10px);
//   }
//
//   .block {
//     margin: 10px;
//     width: calc(50% - 20px);
//   }
//
// }
//
// @media screen and (max-width: 600px) {
//
//   // main {
//   //   padding: 0 5px;
//   // }
//
//   header {
//     h1,
//     .intro {
//       margin-left: 5px;
//       margin-right: 5px;
//     }
//
//     .intro {
//       width: calc(75% - 5px);
//     }
//   }
//
//   .block {
//     margin: 5px;
//     width: calc(100% - 10px);
//   }
//
//   .sub-section {
//     margin-bottom: 40px;
//   }
//
// }
//
// @media screen and (max-width: 500px) {
//
//   header {
//     .intro {
//       width: calc(100% - 10px);
//     }
//   }
//
// }
