// $light-grey: #f0f0f1;
// $medium-grey: #c6c8c9;
// $dark-grey: #25272a;
// $orange: #ff6600;
// $light-blue: #6693b2;
// $dark-blue: #175a8b;

$yellow: #eccd2f;
$green: #468d34;
$blue: #235485;
$red: #74160d;
$grey: #808080;
